.todo_app{
    border: 1px solid;
    height: 95vh;
    width: 50vw;
    display: block;
    margin-left: 25%;
    margin-top: 25px;
    background-color: #ccc;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.app_title{
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}
.form-login{
    margin-top: 60px;
}
#btn-login{
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: black;
}
#btn-login:hover{
    background-color: black;
    color:#fff
}
#btn-signup{
    font-size: 16px;
    cursor: pointer;
    background-color: #fff;
    color: black;
}
#btn-signup:hover{
    background-color: black;
    color:#fff
}